### Module 4 Exercise

1. How many occurences of "row" is in "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."

In [3]:
print("Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek.")
message = (f"Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek.")
message.count("row")

Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek.

4

2. Ask a user for a name, color, and an animal.  <br>
Then using string format method per each line, show following:<br>
<b><i>name</i></b> had a little <b><i>animal</i></b>. <br>
It was <b><i>color</i></b> as snow. <br>
And everywhere that <b><i>name</i></b> went, the <b><i>animal</i></b> was sure to go.

In [ ]:
print("name")
name = input()
print("animal")
animal = input()
print("color")
color = input()

In [ ]:
print("name, + had a little + animal.")
print("It was + color + as snow.")
print("And everywhere that + name went, the + animal + was sure to go.")

3. Print 3.14159 in a scientific number notation

In [ ]:
print(f"{314159:e}")
3.141590e+05

4. Print 3.1559 in 3 decimal places

In [ ]:
print(f"{3156:e}")
3.156000+03

5. Print 1589.92341 in a scientific number notation to the power of 3

In [ ]:
print(f"{1589.92341:e}**3)
1.589923e+03**3

6. Convert 39 to a binary number using floor division and mod operators. Then, compare your answer using bin() and int() functions.

In [ ]:
print("39//2") # remainder 1
19

In [ ]:
print(19//2) # remainder 1 
9

In [ ]:
print(9//2) #remainder 1
4

In [ ]:
print(4//2) # remainder is 0

In [ ]:
print(39%2)
1

In [ ]:
x=39
print(int(x))

In [ ]:
39

In [ ]:
num = 39
print(bin(num))
0b100111

7. Convert 39 to an octal number using floor division and mod operators. Then, compare your answer using oct() and int() functions.

In [ ]:
print("39//8") # remainder 7
4

In [ ]:
print("39%8")

In [ ]:
num = 39
print(oct(num))
0o47

In [ ]:
x=39
print(int(x))

8. Convert 39 to a hexadecimal number using floor division and mod operators. Then, compare your answer using hex() and int() functions.

In [ ]:
print(39//16) 
2

In [ ]:
print(39%16)
7

In [ ]:
num = 39
print(hex(num))
0x27

In [ ]:
x = 39
print(int(x))
39

9. Ask a user for an amount and a tax rate in percentage. Then, display the amount, rate in percentage, calculated tax amount, and the total (amount + tax amount) in one <b>nice</b> formmated print statement.

In [ ]:
prompt ()
Price = input()
print("price")
tax rate = input()
print("tax rate") # divided by 100

In [ ]:
sales tax = price*tax rate
total =  sales tax +price

In [ ]:
print(f"${total:,.2f}")